include ./components/components.pug
doctype html
html(lang="ru")
  include ./modules/head.pug
  body
    .wrapper
      include ./modules/header.pug
      main.main
        include ./modules/content.pug
        include ./modules/economy.pug
        include ./modules/process.pug
    