section.content#about
  .container
    .content__inner
      h1.content__title Ваш безупречный бухгалтерский, налоговый и&nbsp;кадровый учет на&nbsp;аутсорсинге
      p.content__text Заменим целый отдел штатных сотрудников, сэкономим вашиденьги и&nbsp;время для развития вашего бизнеса
      form.content__form.form(action="#" autocomplete='off')
        .form__box
          p.form__title Нужна консультация?
          p.form__text Заполните форму ниже, и&nbsp;наш специалист подробно ответит на&nbsp;все Ваши вопросы
        .form__inputs
          input.form__input(type="text" name='name' required placeholder='Ваше имя')
          input.form__input(type="text" name='tel' required placeholder='Телефон')
          input.form__input(type="email" name='email' required placeholder='E-mail')
          button.form__btn(type='submit') Получить консультацию
      ul.content__bottom
        li.content__bottom-item
          p.content__bottom-text Без ошибок в&nbsp;учете
        li.content__bottom-item
          p.content__bottom-text Без штрафов от проверяющих органов
        li.content__bottom-item
          p.content__bottom-text Без простоев в&nbsp;работе и&nbsp;лишних расходов