section.economy#services
  .container
    p.economy__text Сэкономьте <span>до&nbsp;35%</span>, передав функции вашего бухгалтера на&nbsp;аутсорсинг <span>как в&nbsp;полном объеме, так и&nbsp;по&nbsp;отдельным участкам:</span>
    ul.economy__items
      li.economy__item
        p.economy__item-text <span>Участок</span> заработной платы
      li.economy__item
        p.economy__item-text <span>Участок</span> кадрового учета и&nbsp;кадрового делопроизводства
      li.economy__item
        p.economy__item-text <span>Участок</span> реализации
      li.economy__item
        p.economy__item-text <span>Участок</span> МПЗ и&nbsp;услуг поступивших
      li.economy__item
        p.economy__item-text <span>Участок</span> по&nbsp;учету расчетов с&nbsp;подотчетными лицами
      li.economy__item
        p.economy__item-text <span>Участок</span> по&nbsp;учету основных средств
      li.economy__item
        p.economy__item-text <span>Участок</span> по&nbsp;учету денежных средств
      li.economy__item
        p.economy__item-text <span>Участок</span> налогового учета
      li.economy__item
        p.economy__item-text Бухгалтерская (финансовая) <span>отчетность</span>
