header.header
  .container 
    .header__inner
      +logo
      +menu
      .header__box
        .header__contacts
          a.header__contacts-link(href="#")
            img(src="images/whatsapp.svg", alt="whatsup icon")
          a.header__contacts-link(href="#")
            img(src="images/teleg.svg", alt="telegram icon")
          .numbers
            a(href="tel:88002018037") 8-800-201-80-37
            a(href="tel:88632017244") 8 (863) 201-72-44
        .burger
          span
          span
          span
