section.process#contacts
  .container
    p.process__text <span>Как мы&nbsp;выстроили</span> процесс обслуживания наших клиентов
    ul.process__items
      li.process__item
        p.process__item-text Определили высокий уровень сервиса, который мы&nbsp;должны предоставлять наших клиентам
      li.process__item
        p.process__item-text Разработали методики ведения учетных процессов на&nbsp;каждом участке учета
      li.process__item
        p.process__item-text Четко регламентировали процесс взаимодействия как с&nbsp;нашими клиентами, так и&nbsp;внутри нашей организации
      li.process__item
        p.process__item-text Внедрили трехуровневую систему контроля квалификации наших сотрудников: регулярное обучение, тестирование и&nbsp;аттестация
    img.process__image(src="images/process-arrow.png", alt="arrow image")
    .process__result.result
      p.result__title <span>Ваш результат</span> от нашей работы
      ul.result__list
        li.result__item
          .result__circle
            img(src="images/quality.svg", alt="icon quality")
          h4.result__item-title КАЧЕСТВО
          p.result__item-text Прозрачный бухгалтерский и&nbsp;налоговый учет без ошибок, сбоев и&nbsp;простоев
        li.result__item
          .result__circle
            img(src="images/skill.svg", alt="icon skill")
          h4.result__item-title ЭКСПЕРТИЗА
          p.result__item-text Оптимальные решения даже самых сложных и&nbsp;неоднозначных вопросов
        li.result__item
          .result__circle
            img(src="images/guard.svg", alt="icon guard")
          h4.result__item-title БЕЗОПАСНОСТЬ
          p.result__item-text Минимизация рисков возникновения проблем с&nbsp;контролирующими органами